  <div class="row">
    <div class="content twelve columns">
    <div class="content_inner clearfix">
    <header>
      <h2>New Post
          <%= link_to "Back", admin_dashboard_path, class: "right small nice button" %>
      </h2>
    </header>
    <div class="show_page">
      
      <%= render 'form' %>

  </div>
  </div><!-- show_page-->
</div><!--row-->
</div><!--content-->

