<div class="wrapper inner_page">
  
	<div class="content_header clearfix">
		<h3>Resume</h3>
	</div><!--content-header-->
	
	<section id="default_content">
    <div id='resumonk-embed' style='width: 860px; height: 1500px; border: 5px solid #6b6fb8'><iframe src='http://resumonk.com/r/bharani' width='860' height='1500' style='border: none; background:#fff'></iframe></div>
	</section><!--content-->
		

</div><!--wrapper-->

