	
	<div class="wrapper">
		<section id="home_intro">
			<div class="lettering_container clearfix">
			  <div class="hello_container clearfix">
				  <h1 id="lettering">Hello</h1>
				</div><!--hello-container-->
				<h3 id="name">I'm <span>Bharani M</span></h3>
				<div class="desc">
					<h4><span>a designer/dreamer</span> <span class="address">from New Delhi, India</span></h4>
				</div><!--desc-->
			</div><!--lettering-container-->
		</section>
		
		<section id="content">
			<p class="sub_heading">I design smart and beautiful applications for web and mobile devices</p>
			<div class="links">
				<%= link_to "View Portfolio", projects_path %>
				<span class="or">or</span>
				<%= link_to "Drop Me a line", contact_path %>
			</div><!--links-->
		</section>
	</div><!--wrapper-->
	
