<div class="content">
  <div class="row">
    <div class="content_inner clearfix">
    <header>
      <h2 class="nine columns">Edit - <%= @project.title %></h2>
      <div class="three columns links">
          <div class="right">
            <%=link_to "Delete", [:admin, @project], class:"delete_link", method: :delete, confirm: "Are you sure?" %>
          </div>
        </div><!--links-->
    </header>
    <div class="show_page">
      
      <%= render 'form' %>

  </div>
  </div><!-- show_page-->
</div><!--row-->
</div><!--content-->
