<div class="wrapper inner_page">
	<section id="contact">
		<div class="content_header clearfix">
			<h3>About Me</h3>
			<p class="intro">This is where you find more about me.</p>
		</div><!--content-header-->
	
		<section id="main_content">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		</section><!--content-->
		
		<aside id="sidebar">
			<div class="profile_picture">
			
			</div><!--profile-picture-->
			<div class="social">
				<h3>Elsewhere</h3>
				<ul>
				<li><a href="http://dribbble.com/netastica">Dribbble</a></li>
				<li><a href="http://twitter.com/netastica">Twitter</a></li>
				<li><a href="http://deviantart.com/bharani91">DeviantArt</a></li>
				<li><a href="http://github.com/bharani91">Github</a></li>
				</ul>
			</div><!--social-->
		</aside>
	
	</section>
	
	<ul id="skills" class="clearfix">
		<li>Skills:</li>
		<li>Photshop/Illustrator</li>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>Javascript/jQuery</li>
		<li>Ruby/ROR</li>
	</ul>
</div><!--wrapper-->
