<div class="wrapper inner_page">
	<section id="contact">
		<div class="content_header clearfix">
			<h3>About Me</h3>
			<p class="intro">This is where you find more about me.</p>
		</div><!--content-header-->
	
		<section id="main_content">
			<%= markdown(@page.content) %>

		</section><!--content-->
		
		<aside id="sidebar">
			<div class="profile_picture">
				<%= image_tag "frontend/profile_pic_small.jpg" %>
			</div><!--profile-picture-->
			<div class="social">
				<h3>Elsewhere</h3>
				<ul>
				<li><a href="http://dribbble.com/netastica">Dribbble</a></li>
				<li><a href="http://twitter.com/netastica">Twitter</a></li>
				<li><a href="http://deviantart.com/bharani91">DeviantArt</a></li>
				<li><a href="http://github.com/bharani91">Github</a></li>
				</ul>
			</div><!--social-->
		</aside>
	
	</section>
	
	<ul id="skills" class="clearfix">
		<li>Skills:</li>
		<li>Photshop/Illustrator</li>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>Javascript/jQuery</li>
		<li>Ruby/ROR</li>
	</ul>
</div><!--wrapper-->
