<div class="wrapper inner_page">
  
	<div class="content_header clearfix">
		<h3><%= @page.title %></h3>
	</div><!--content-header-->
	
	<section id="default_content">
		<%= markdown(@page.content) %>
	</section><!--content-->
		

</div><!--wrapper-->

