<div class="wrapper inner_page">
	<section id="portfolio_list" class="clearfix">
	<div class="content_header clearfix">
		<h3><Selected Works><%= @project.title %></h3>
		
	</div><!--content-header-->
	<div class="desc">
	  <div class="text"><%= markdown(@project.description) %></div>
	  <ul class="tag_list">
  	  <% @project.tags.each do |tag| %>
        <li><%= link_to tag.name, tag_path(tag.name) %></li>
        <% end %>
    </ul>
  </div><!--desc-->

  <section id="portfolio_content">
	  
		<% @project.photos.each do |photo| %>
		  <div class="image_wrapper">
        <%= image_tag photo.image.url %>
       </div><!--image_wrapper-->
    <% end %>
	   
	</section><!--portfolio_content-->
	
	</section><!--portfolio_list-->
</div><!--wrapper-->

